header {
    width: 100%;
    height: 500px;
    background: rgb(63, 94, 251);
    background: linear-gradient(343deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    margin: 0;
    font: normal 40px 'Lobster';
}

header div {
    height: 100%;
    display: inline;
    text-align: center;
    margin-top: 300px;
}

header img {
    float: right;
    width: 600px;
    border: 2px solid white;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
}

.inline-element {
    display: inline;
}

header h1 {
    color: white;
    font: normal 130px 'Lobster';
    margin: 0;
}

header p {
    color: white;
    font-size: 40px;
    margin: 0;
}